#filtersContainer {
  width: auto;
  border: 5px inset $light-blue;
  border-radius: 13px;
  margin-top: $s-mp;

  #genreSelector {
    width: 23vw;
  }

  #scoreTitle{
    text-align: start;
  }

  #scoreFieldsContainer{
    .MuiFormControl-root{
      width: 50%;
    }
  }

  #releaseYearTitle{
    text-align: start;
  }

  #releaseYearFieldsContainer{
    .MuiFormControl-root{
      width: 50%;
    }
  }
}
