#recordsListContainer {
  border: 1px solid $border-color;
  border-radius: $border-radius-size;
  margin: $s-mp 0 ;
  width: 50vw;
  min-width: 170px;

  #recordsListHeader {
    background: $light-grey;
  }

  #scoresHeadCell {
    text-align: right;
  }
}

#scorePoper {
  padding: $s-mp;

  #messageContainer {
    text-align: center;
  }
}
