#loginPageContentContainer {
  @include page-content-container;

  #fields {
    @include flex-col;
    padding: $s-mp;
    div {
      margin: 0.1vw;
    }
  }

  #buttonsContainer {
    button {
      @include grey-button;
    }
  }

  #errorMessage {
    padding: $s-mp;
    color: red;
  }
}
